body {
    background-image: url("../assets/fondoange.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

.album{
    border-radius: 8%;
    box-shadow: 18px 2px 70px rgba(239, 218, 180, 0.723);
}

#billie{
    height: 200px;
    width: auto;
    position: absolute;
    top: 33%;
    left: 33.2%;
}

#maneskin{
    height: 350px;
    width: auto;
    position: absolute;
    top: 47%;
    left: 11%;
}

#solene{
    height: 150px;
    width: auto;
    position: absolute;
    top: 21%;
    right: 16%;
}

#maria{
    height: 300px;
    width:auto;
    position: absolute;
    top: 58%;
    right: 27%;
}

#warning{
    height: 270px;
    width:auto;
    position: absolute;
    top: 16%;
    right: 43%;
}

.nombres{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-style: oblique;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.6px;
}

#album-billie{
    position: absolute;
    top: 47%;
    left:33.6%;
}

#album-maneskin{
    position: absolute;
    top: 72.3%;
    left: 15%;
}

#album-solene{
    position: absolute;
    top: 31%;
    right: 15.4%;
}

#album-maria{
    position:absolute;
    top: 79.6%;
    right:30.8%;
}

#album-warning{
    position: absolute;
    top:35.4%;
    right:42.9%;
}

#barra-inferior{
    width: 350px;
    height:104px;
    background-color: rgb(109, 29, 29);
    border-radius: 19px;
    display: flex;
    position: absolute;
    bottom: 6%;
    left: 43%;
    box-shadow: 1px 1px 10px rgba(239, 218, 180, 0.723);
    justify-content: center;
}

#barra-superior{
    width: 2600px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: absolute;
    top:0.1%;
    left:1%;
    z-index: 2;
}

#nombres-superior{
    color: rgb(255, 255, 255);
    z-index: 2;
}