body {
    background-image: url("../webmusica/assets/fondoange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#foto {
    max-width: 70%;
    height: auto;
    border-radius: 40%;
}

#ambos{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#regresar{
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: 100;
  background-color: rgb(116, 62, 18);
  margin-bottom: 2%;
  border-style:groove;
  border-color: rgb(116, 62, 18);
  border-radius: 10px;
  cursor: pointer;
  cursor: pointer;
  margin: -10px;
  position: absolute;
  bottom:10%;
  left:50%;
  color: white;
}

a:link{
    text-decoration: none;
    display:inline-block;
    color: white;
}

#pregunta {
    width: 40%;
    height: 20%;
    background-color: rgba(58, 30, 30, 0.897);
    border-radius: 3%;
    transform: translateX(-50%);
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#preguntaa {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

#respuesta {
    width: 100%;
    height: 25%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: rgb(165, 226, 241);
    font-size: 1.5em;
    resize: none;
}